NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFnbmV0aWMtd3Jlbi0yOS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_goYn2NwgB0tGNxhTQTg4naQfknDAHHC5lA9BijBP8I

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up





# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=
        
ARCJET_KEY=